body {
    margin: 0;
    font-family: Dubai;
    background-image: url(./Imagenes/Background.png);
}

#contenedor-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #403B3B;
    margin-top: 1%;
    margin-right: 3%;
    float: right;
    border-radius: 10px;
    height: 80px;
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
}

#imagen-logo {
    cursor: pointer;
    height: 80px;
    width: 300px;
}

header {
    margin-top: 1%;
    margin-left: 1%;
    width: 45%;
    background-color: #403B3B;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
}


#botonmenu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    border-right: 1px solid #ffff;
    padding: 10px;
    border-radius: 10px;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #ffff;
    text-decoration: none;
}

.menu li {
    border-right: white;
}

.menu li:hover {
    border-radius: 10px;
    background-color: darkcyan;
}

/* Submenu */

.menu ul li.dropdown ul {
    background-color: #403B3B;
    position: absolute;
    left: 0;
    padding-left: 0;
    min-width: 100px;
    display: inline-block;
    z-index: 4;
    border-radius: 10px;
    display: none;

}

.menu ul li {
    position: relative;
}

.menu ul li.dropdown ul li {
    font-size: 18px;
    z-index: 5;
}

.menu ul li.dropdown:hover ul {
    display: block;
}

#contenido {
    height: 1600px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

#IMGS {
    width: 322px;
    height: 350px;
}

.IMGS:hover {
    opacity: 0.9;
    cursor: pointer;
}

#cuadrito1 {
    text-align: center;
    font-size: 30px;

    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    left: 50px;
}

.cuadritos:hover {
    background-color: darkcyan;
    cursor: pointer;
}

.cuadritos {
    background-color: white;
}

#contenedor-img2 {
    position: absolute;
    left: 600px;
    top: 130px;
}

#cuadrito2 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#contenedor-img3 {
    position: absolute;
    left: 1150px;
    top: 130px;
}

#cuadrito3 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#cuadrito4 {
    text-align: center;
    font-size: 30px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    left: 50px;
}

#contenedor-img4 {
    margin-top: 130px;
}

#Img4 {
    margin-left: 80px;
}

#cuadrito5 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

#contenedor-img5 {
    position: absolute;
    margin-left: 570px;
    top: 710px;
}

#cuadrito6 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

#contenedor-img6 {
    position: absolute;
    margin-left: 1130px;
    top: 710px;
}

#cuadrito7 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}

#contenedor-img7 {
    margin-top: 242px;
    width: 20%;
    margin-left: 20px;
}

#cuadrito8 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;


}

#contenedor-img8 {
    position: absolute;
    margin-left: 570px;
    top: 1297px;
}

#cuadrito9 {
    text-align: center;
    font-size: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;


}

#contenedor-img9 {
    position: absolute;
    margin-left: 1130px;
    top: 1297px;
}

#Footer {
    color: white;
    margin-top: 30px;
    border: black 5px solid;
    height: 232px;
    display: flex;
    justify-content: left;
    background: #161414;
    bottom: 0;
    left: 0;
    width: 100%;
}

#Locacion-contenedor {
    width: 30%;
    height: fit-content;
    margin-left: 5%;
    text-align: center;
}

#text-locacion {
    font-size: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: bold;

}

#abajoeLocacion {
    font-size: 20px;

}

#micom-contenedor {
    width: 30%;
    margin-left: 3%;
}

#text-micom {

    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
}

#Imagen-micom {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#Faqs-contenedor {
    margin-left: 4%;
    height: fit-content;
    align-items: center;
    justify-content: flex-end;
}

#text-Faqs {
    font-size: 30px;
    font-weight: bold;
}

#abajoeFAQs {
    display: flex;
    align-items: flex-end;
    Justify-content: center;
    width: 200px;
    height: 100px;
    text-align: center;
    font-size: 20px;
}

/* RESPONSIVE */
@media (max-width: 1400px) {
    header label {
        display: flex;
    }

    header {
        width: 50px;
    }

    .menu {
        position: absolute;
        background-color: #707070;
        width: 55%;
        margin-left: -70%;
        transition: all 0.8s;
    }

    .menu ul {

        flex-direction: column;
    }

    .menu li {

        border-radius: 10px;
        border-top: 1px solid #ffff;
        border-bottom: 1px solid #ffff;
    }

    #botonmenu:checked~.menu {
        margin: 0;
    }


    #Locacion-contenedor {
        font-size: 15px;
        margin-left: 200px;
    }

    #Faqs-contenedor {
        font-size: 15px;
    }

    #micom-contenedor {
        font-size: 15px;
    }
}

#Contenido1 {
    margin-right: 1%;
    font-size: 25px;
    width: 50%;
    height: fit-content;
}



@media (max-width: 800px) {
    #micom-contenedor {
        display: none;
    }

    #Contenido1 {

        font-size: 18px;
        width: 50%;
        height: fit-content;
    }

}

@media (max-width: 500px) {
    #Faqs-contenedor {
        display: none;
    }
}