<div class="Contenido">
    <ul class="Slider">
        <li id="Slide1"><img src="./multimedia/Shape2.png" alt=""></li>
        <li id="Slide2"><img src="./multimedia/Shape1.jpg" alt=""></li>
        <li id="Slide3"><img src="./multimedia/Shape3.jpg" alt=""></li>
    </ul>

    <ul class="MenuSlider">
        <li><a href="#Slide1">1</a></li>
        <li><a href="#Slide2">2</a></li>
        <li><a href="#Slide3">3</a></li>
    </ul>
</div>

<script src="./scripts/progress.js">
</script>