<div id="contenido">


    <img class="IMGS" src="./multimedia/Pechos2.png" alt="">
    <div id="cuadrito1" class="cuadritos">
        Entrenamiento para pecho
    </div>
    <div id="contenedor-img2">
        <img class="IMGS" src="./multimedia/Brazo2.png" alt="">
        <div id=cuadrito2 class="cuadritos">
            Entrenamiento de <br> brazo
        </div>
    </div>
    <div id="contenedor-img3">
        <img class="IMGS" src="./multimedia/Espalda2.png" alt="">
        <div id="cuadrito3" class="cuadritos">
            Entrenamiento de <br> espalda
        </div>
    </div>
    <br>
    <br>
    <br>
    <br><br>

    <div id="contenedor-img4">
        <img class="IMGS" id="Img4" src="./multimedia/Piernas2.png" alt="">
        <div id="cuadrito4" class="cuadritos">
            Entrenamiento de <br> piernas
        </div>
    </div>

    <div id="contenedor-img5">
        <img class="IMGS" id="Img5" src="./multimedia/Dieta2.png" alt="">
        <div id="cuadrito5" class="cuadritos">
            Planes de <br> Dieta
        </div>
    </div>

    <div id="contenedor-img6">
        <img class="IMGS" id="Img6" src="./multimedia/Abdomen2.png" alt="">
        <div id="cuadrito6" class="cuadritos">
            Entrenamiento para el <br> abdomen
        </div>
    </div>

    <div id="contenedor-img7">
        <img class="IMGS" id="Img7" src="./multimedia/Pesas2.png" alt="">
        <div id="cuadrito7" class="cuadritos">
            Levantamiento de <br> Pesas
        </div>
    </div>

    <div id="contenedor-img8">
        <img class="IMGS" id="Img8" src="./multimedia/Correr2.png" alt="">
        <div id="cuadrito8" class="cuadritos">
            Correr/Caminar<br> y Trote
        </div>
    </div>

    <div id="contenedor-img9">
        <img class="IMGS" id="Img9" src="./multimedia/Saltos2.png" alt="">
        <div id="cuadrito9" class="cuadritos">
            Entrenamiento de <br> Saltos
        </div>
    </div>
</div>
<script src="./scripts/progress.js">
    </script>