<div id="Contenido-Pri">
    <div id="Contenido1">
        <p>
            <span class="neglita"> Misión </span> <br> Ayudar a nuestros socios a crear y mantener una
            excelente condición física a través de la nutrición y
            programas de entrenamiento.
        </p>

        <p>
            <span class="neglita">Visión </span> <br> Ser la mejor opción deportiva en la ciudad de Santo
            Domingo, por la excelencia en los servicios y la
            moderna aparatología, potenciando los procesos
            de servicio al cliente y atención personalizada.
        </p>

        <p>
            <span class="neglita"> Valores </span>
            <ul>
                <li>Profesionalismo</li>
                <li>Excelencia de Servicio</li>
                <li>Respeto a la integridad</li>
            </ul>
        </p>
    </div>

    <div id="Contenido2">

        <div class="container__slider">
            <div class="slider" id="slider">
                <div class="slider__section">
                    <img src="./multimedia/Gimnasio.png" alt="" class="slider__imagen">
                </div>
                <div class="slider__section">
                    <img src="./multimedia/unnamed.jpg" alt="" class="slider__imagen">
                </div>
                <div class="slider__section">
                    <img src="./multimedia/discos-de-pesas-baratos.jpg" alt="" class="slider__imagen">
                </div>
                <div class="slider__section">
                    <img src="./multimedia/Espalda.png" alt="" class="slider__imagen">
                </div>
            </div>
            <div class="slider_btn slider_btn_right" id="btn-right">&#62;</div>
            <div class="slider_btn slider_btn_left" id="btn-left">&#60;</div>
        </div>
    </div>
</div>
<script src="./scripts/slider.js"></script>
<script src="./scripts/progress.js"></script>