<div id="contenedor-logo">
    <a href="/"><img id="imagen-logo" src="/multimedia/Inicio.png" alt=""></a>
</div>


<div id="Formulario">
    <p id="contacto">
        ¡Gracias por confiar en nosotros! <br><br> Para el equipo BrauFitness es muy importante saber lo que
        piensas. <br> Envianos tus sugerencias o comentarios a través del siguiente formulario.</p>

    <div id="contenedol">
        <div id="Formulario2">
            <form action="/Formulario" method="POST" name="Formulario">
                <label for="h">Nombre Completo:</label><br>
                <textarea name="Nombre" id="Nombre" cols="48" rows="1" placeholder="Nombre..." required></textarea>
                <br>
                <br>
                <label for="h">E-mail:</label><br>
                <textarea name="Correo" id="Correo" cols="48" rows="1" placeholder="E-mail..." required></textarea>
                <br>
                <br>
                <label for="h">Mensaje:</label><br>

                <textarea name="mensaje" id="mensaje" cols="48" rows="10" placeholder="Escriba su sugerencia"
                    required></textarea>


                <div>
                    <button class="EstiloButton" type="submit">Enviar</button>
                </div>
            </form>
        </div>
        <div id="Anuncio">
            <img id="gif" src="./multimedia/Anuncio/SanValentín.gif" alt="">
        </div>
    </div>
</div>