<div id="Contenido">
    <div>
        <img id="Img" src="./multimedia/Imagen3.png" alt="">
    </div>

    <div id="Contactos">
        <div id="Contenedor-cont">
            <img class="IMGs" src="./multimedia/Telefono.png" alt="">
            <p class="textoimg">809-542-3866</p>
        </div>
        <div id="Contenedor-cont">
            <img class="IMGs" src="./multimedia/Youtube.png" alt="">
            <p class="textoimg">BrauFitness</p>
        </div>
        <div id="Contenedor-cont">
            <img class="IMGs" src="./multimedia/Instagram.png" alt="">
            <p class="textoimg">Brau.Fitness</p>
        </div>
        <div id="Contenedor-cont">
            <img class="IMGs" src="./multimedia/Facebook.png" alt="">
            <p class="textoimg">BrauFitness</p>
        </div>
        <div id="Contenedor-cont">
            <img class="IMGs" src="./multimedia/Twitter.png" alt="">
            <p class="textoimg">BrauFitness Official</p>
        </div>
    </div>
</div>

<div>
    <p class="textoimg"> Completa nuestro formulario y cuéntanos tus sugerencias! </p>
    <button class="EstiloButton" type="button"><a href="/Formulario">Entra al Formulario</a></button>
</div>

<div id="Video">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/8wfX4mq1JDo" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
</div>
<script src="./scripts/progress.js"></script>